$colors_bg: #f3fafe;
$colors_primary: #0da2e7;
$colors_darkPrimary: #075174;
$colors_gray: #9fa3ac;
$colors_gray2: #4c515b;
$colors_lightGray: #d3d5d9;
$colors_darkGray: #24272c;
$colors_black: #15171a;
$colors_white: #fff;
